/*
    3행, 각 행 높이 100px (총 300px)
    3열, 균등 분할 (1:1:1 비율)

    repeat(반복횟수, 크기) 함수 사용
    
    */
.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"         /* 1행: header가 3열 전체 */
        "main main aside"              /* 2행: main 2열, aside 1열 */ 
        "footer footer footer";        /* 3행: footer 3열 전체 */
}

.item {
    border: 10px solid red;
}

/* nth-child로 각 아이템에 grid-area 할당 */
.item:nth-child(1) {                    /* 1번째 아이템 */
    grid-area: header;                  /* header 영역에 배치 */    
}
.item:nth-child(2) {                    /* 2번째 아이템 */
    grid-area: main;                  /* main 영역에 배치 */    
}
.item:nth-child(3) {                    /* 3번째 아이템 */
    grid-area: aside;                  /* aside 영역에 배치 */    
}
.item:nth-child(4) {                    /* 4번째 아이템 */
    grid-area: footer;                  /* footer 영역에 배치 */    
}
