.container {
    display: grid;
    border: 4px solid lightgray;
    grid-template-rows: repeat(3, 100px);  /* 3개의 행을 각각 100px로 생성 */
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 동일한 비율로 분배  */
}

.item {
    border: 2px dashed red;
}