.container {
    display: grid;
    grid-template-rows: repeat(4, 100px);     /* 4행, 각  100px높이 */
    grid-template-columns: repeat(3, 1fr);  /* 3열, 균등 분할 */
    width: 600px;
    border: 4px solid lightgray;
}

.item {
    border: 10px solid red;
    background: rgba(255, 127, 80, 0.7);
    font-size: 30px;
}

.item:nth-child(1) {
    /*grid-column: 1 / 3;     열 라인 1 ~ 3 = 2열 차지 */
    /*grid-column: 1 / 4;          3열 전체 차지 */
    grid-row: 1 / 3;        /* 행 라인 1 ~ 3 = 2행 차지 */
    grid-column: 1 / 3;
}

.item:nth-child(2) {
    grid-row: 1 / 3;       /* 행 라인 1 ~ 3 = 2행 차지 */  
}

.item:nth-child(4) {
    grid-row: 4 / 5;       /* 행 라인 4 ~ 5 = 4행 차지 */  
    grid-column: 2 / 4;    /* 열 라인 2 ~ 4 = 2열 차지 */
}