/*
    단축 속성
        grid-row: start / end
        grid-column: start / end 
*/

.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);     /* 2행 생성 --> 라인 1, 2, 3 */
    grid-template-columns: repeat(3, 1fr);  /* 3열 생성 --> 라인 1, 2, 3, 4 */
    width: 400px;
    height: 200px;
    border: 4px solid lightgray;
}

.item {
    border: 2px dashed red;
    background: rgba(255, 127, 80, 0.7);
}

.item:nth-child(1) {        /* 첫번째 .item 요소 선택 (container의 1번째 자식) */
    grid-row: 1 / 3;        /* 행: 1번~3번 라인 => 2행 차지 */
    grid-column: 2 / 4;     /* 열: 2번~4번 라인 -> 2열 차지 */
    /* 결과 : 2행 * 2열 = 4칸 차지 */
}