/* 실무 팁 : 본문은 넓게(2fr), 사이드 바는 좁게(1fr) 설계함 */

.container {
    display: grid;
    grid-template:                        /* 레이아웃 구조 정의 */
        "header header header"    80px               /* 1행: header 영역 (3칸 병합) */  /* 각 행의 높이 지정 */
        "main . aside" 350px                         /* 2행: 메인 | 빈칸 | 사이드바 */
        "footer footer footer" 130px                 /* 3행: footer 영역 (3칸 병합) */
        / 2fr 100px 1fr;                             /* 각 열의 너비 지정 - 남은공간의 2/3차지 ,고정너비(여백 역할), 남은공간의 1/3차지 */
}

/*
    .container > *
    --------  --
    부모요소   직계자식    ==> 한번에 모든 자식 요소 선택

    .container *       ==> 모든 후손(손자 포함) 
*/
.container > * {
    border: 10px solid red;
}
/* grid-area 속성
    - grid-template-areas에서 정의한 영역 이름과 연결
    - 해당 요소가 어느 영역에 배치될지 지정
*/
header { 
    grid-area: header;     /* "header"라는 이름의 영역에 배치 */
}
main { 
    grid-area: main;      /* "main"라는 이름의 영역에 배치 */ 
}
aside { 
    grid-area: aside;     /* "aside"라는 이름의 영역에 배치 */ 
}
footer { 
    grid-area: footer;    /* "footer"라는 이름의 영역에 배치 */ 
}

