.container {
    display: grid;
    border: 4px solid lightgray;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr; /* 3개의 열을 동일한 비율(1:1:1)로 분배 */
}

.item {
    border: 2px dashed red;
}