.container {
    display: grid;
    width: 300px;
    border: 4px solid lightgray;
    grid-template-columns: 100px 200px; /* 첫번째 열: 100px, 두번째 열: 200px */
}

.item {
    border: 2px dashed red;
}