.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);     /* 2행 생성 --> 라인 1, 2, 3 */
    grid-template-columns: repeat(3, 1fr);  /* 3열 생성 --> 라인 1, 2, 3, 4 */
    width: 400px;
    height: 200px;
    border: 4px solid lightgray;
}

.item {
    border: 2px dashed red;
    background: rgba(255, 127, 80, 0.7);
}